VITE_SUPABASE_URL=https://zgfsmvbxmxsgmajjcpoo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpnZnNtdmJ4bXhzZ21hampjcG9vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzNDk2ODcsImV4cCI6MjEwMDkyNTY4N30.e79bmfcIB2nXRBikz-SOKvNF7_Up3Fh8rWFLtUOKJgE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpnZnNtdmJ4bXhzZ21hampjcG9vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTM0OTY4NywiZXhwIjoyMTAwOTI1Njg3fQ.w3zcq_3mISzyGtN7zYoSOMOA2cyLkB4ypU16O_baEn0
TELEGRAM_BOT_TOKEN=8873408777:AAGS0hlbNQLImpIKiD972bNBbju1iVtWV9U
TELEGRAM_ADMIN_CHAT_ID=-5558327304
WEBHOOK_SECRET=your-webhook-secret
GOLD_API_KEY=9b5a028a93764a3689bae8306f68b729
