@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cleopatra-deepSea text-gray-100 font-sans antialiased;
    direction: rtl;
  }

  body[dir="ltr"] {
    direction: ltr;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0A1128;
}
::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #F3E5AB;
}
